<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <p>
            <% let y = new Date().getFullYear() %> <!-- เขียน Javascript แทรก HTML ด้วย <% %> -->
            พ.ศ.<%= y+543 %>
        </p>
        <p>
            firstname: <%= firstname %> <hr/>
            lastname: <%= lastname %> <hr/>
            address: <%= address %> 
        </p>
        <p>
            <%= telephone.tel %> |
            <%= telephone.mobile %><hr/>
            <%= city.center %> |
            <%= city.north %>
        </p>
    </body>
</html>