<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <p>
            firstname: <%= firstname %> <hr/>
            lastname: <%= lastname %> <hr/>
            address: <%= address %> 
        </p>
        <p>
            <%= telephone.tel %> |
            <%= telephone.mobile %><hr/>
            <%= city.center %> |
            <%= city.north %>
        </p>
    </body>
</html>